@model dynamic
 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <body>
        A Person asked a question with title: @Model.title, in @Model.course.name
        With the following topics: [@foreach(var topic in Model.topics) { @topic.name }] TODO: ben niet zeker of lists zo werken, moet nog getest worden
        
        @Model.body

        Question asked at @Model.time

        Please answer this question by replying to this mail or navigate to this question in the application

        - Team StuNet
        TODO html/css styling
    </body>
</html>
