@model dynamic
 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>

    <body>
        A Person asked a question with title: @Model.title, in @Model.course.name <br/>
        With the following topics:<br/>
        <ul>
        @foreach(var topic in Model.topics) {<li>@topic.name</li>} TODO: moet nog getest worden
        </ul>
        <br/>                    
        @Model.body
        <br/>
        Question asked at @Model.time<br/>
        Please answer this question by replying to this mail or navigate to this question in the application<br/>
        - Team StuNet
        TODO html/css styling
    </body>
</html>
